<p>
    Search: <input ng-model="$ctrl.query" />

    {{$ctrl.query}}
</p>
<p>
    Sort by:
    <select ng-model="$ctrl.orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
    </select>
</p>
<p>
    <ul>
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="phone-list-item">
            <a href="#!/phones/{{phone.id}}" target="_self" >
                <img ng-src="{{phone.imageUrl}}" width="150" height="150" alt="{{phone.name}}" />
            </a>
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
            <hr/>
        </li>
    </ul>
    <pre>{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre>
</p>
